{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django Task App</h1>
        <p> 
        La aplicación desarrollada con Python y Django es una solución fácil y eficiente para administrar y organizar tareas. Con una interfaz intuitiva y fácil de usar, nuestra aplicación te permite crear, editar, eliminar y ver tareas de manera rápida y sencilla. Esta aplicación es perfecta para personas que buscan una forma organizada de administrar sus tareas diarias, ya sea en el trabajo o en la vida personal. ¡No pierdas más tiempo buscando una solución para administrar tus tareas! Utiliza nuestra aplicación y aumenta tu productividad hoy mismo.
        </p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/login">
                Login
            </a>
            <a class="btn btn-dark" href="/signup">
                Signup
            </a>

        </div>
    </section>
</main>



{% endblock %}